.items-list {
    font-size: 1em;
    line-height: 1.2em;
    background: #f0f0f0;
    min-height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;

    // Masonry type layout sourced from: https://css-tricks.com/seamless-responsive-photo-grid/
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
}

.items-list>.image-item {
    padding: 0;
    margin: 0.2em;
    position: relative;

    //width: 100% !important;
    //height: auto !important;
    .img {
        width: 100%;
        height: auto;
    }

    .controls {
        opacity: 0.8;
        position: absolute;
        font-size: 0.8em;
        top: 0;
        right: 0;

        .btn {
            font-size: 1em;
            line-height: 1.1em;
            padding: 0.4em;
            border: none;
            background: #f0f0f0;
            color: #555;
            margin: 0.08em;
        }

        .btn:hover {
            background: #fff;
        }
    }
}

@media screen and (min-width: $desktop-min-width) {
    .items-list {
        column-count: 6;
    }

    .items-list>.image-item {
        .controls {
            display: none;
        }
    }

    .items-list>.image-item:hover {
        .controls {
            display: block;

            .btn {
                font-size: 1em;
                padding: 0.5em;
            }
        }
    }
}