section {
    padding: 0.5em;
}

footer {
    padding: 0.5em;
    font-size: 0.8em;

    .info {
        margin: 1em 0;
        /* color: #333; */
    }
}


section.search-results {
    margin: 2em 0;
    min-height: 10em;

    .title {
        font-size: 1.2em;
        color: #888;
        margin: .5em;
    }

}


label.api-key-label {
    padding: .4em;
    display: block;

    span {
        display: block;
    }

    input {
        background: #ddd;
        width: 100%;
        padding: .3em;
        font-size: 1em;
        font-family: monospace;
    }
}


header {

    .title {
        font-size: 2.5em;
        margin-top: 1.7em;
        margin-bottom: .2em;
    }

    .actions {
        position: absolute;
        top: .6em;
        right: .6em;

        .btn {
            display: inline-block;
            margin-left: .4em;
            height: 2em;
            min-width: 2.6em;
            vertical-align: top;
        }
    }

}


@media screen and (min-width: $desktop-min-width) {
    label.api-key-label input {
        width: auto;
        min-width: 22em;
    }
}