html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 320px;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button {
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
}

button {
  cursor: pointer;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.SkriphyApp {
  text-align: center;
  font-size: 1em;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
}
.SkriphyApp section {
  padding: 0.5em;
}
.SkriphyApp footer {
  padding: 0.5em;
  font-size: 0.8em;
}
.SkriphyApp footer .info {
  margin: 1em 0;
  /* color: #333; */
}
.SkriphyApp section.search-results {
  margin: 2em 0;
  min-height: 10em;
}
.SkriphyApp section.search-results .title {
  font-size: 1.2em;
  color: #888;
  margin: 0.5em;
}
.SkriphyApp label.api-key-label {
  padding: 0.4em;
  display: block;
}
.SkriphyApp label.api-key-label span {
  display: block;
}
.SkriphyApp label.api-key-label input {
  background: #ddd;
  width: 100%;
  padding: 0.3em;
  font-size: 1em;
  font-family: monospace;
}
.SkriphyApp label.api-key-label .apikey-input:not(:focus) {
  color: transparent;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
.SkriphyApp header .title {
  font-size: 2.5em;
  margin-top: 1.7em;
  margin-bottom: 0.2em;
}
.SkriphyApp header .actions {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
}
.SkriphyApp header .actions .btn {
  display: inline-block;
  margin-left: 0.4em;
  height: 2em;
  min-width: 2.6em;
  vertical-align: top;
}
@media screen and (min-width: 641px) {
  .SkriphyApp label.api-key-label input {
    width: auto;
    min-width: 22em;
  }
}
.SkriphyApp section.giphy-search {
  position: sticky;
  top: 0;
  z-index: 1;
}
.SkriphyApp .giphy-search-form {
  font-size: 1.1em;
}
.SkriphyApp .giphy-search-form .search-actions {
  display: inline-block;
}
.SkriphyApp .giphy-search-form .search-actions .icon {
  width: 1.1em;
  height: 1.1em;
}
.SkriphyApp .giphy-search-form .search-input,
.SkriphyApp .giphy-search-form .btn {
  background: none;
  height: 2em;
  vertical-align: top;
  margin-right: 0.2em;
  margin-top: 0.2em;
}
.SkriphyApp .giphy-search-form .search-input-label {
  margin-right: 0.2em;
  display: inline-block;
  width: 64%;
  max-width: 20em;
}
.SkriphyApp .giphy-search-form .search-input {
  font-weight: normal;
  padding: 0.2em 0.4em;
  width: 100%;
}
.SkriphyApp .items-list {
  animation: inherit;
  font-size: 1em;
  line-height: 1.2em;
  min-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0.2em;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  column-count: 1;
  column-gap: 0px;
}
.SkriphyApp .items-list > .image-item {
  animation: fadein 250ms;
  padding: 0;
  margin: 0.2em;
  margin-bottom: 0.8em;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  min-height: 4em;
  overflow: hidden;
}
.SkriphyApp .items-list > .image-item .img {
  animation: fadein 350ms;
  width: 100%;
  height: auto;
}
.SkriphyApp .items-list > .image-item .controls .btn {
  font-size: 1em;
  line-height: 1.1em;
  padding: 0.4em;
  border: none;
  margin: 0.08em;
}
.SkriphyApp .items-list > .image-item:hover .controls,
.SkriphyApp .items-list > .image-item:active .controls {
  display: block;
}
@media screen and (min-width: 641px) {
  .SkriphyApp .items-list {
    column-count: 6;
  }
  .SkriphyApp .items-list > .image-item {
    border: none;
  }
  .SkriphyApp .items-list > .image-item .controls {
    display: none;
    position: absolute;
    font-size: 0.8em;
    top: 0;
    right: 0;
  }
  .SkriphyApp .items-list > .image-item .controls .btn {
    font-size: 1em;
    padding: 0.3em;
  }
  .SkriphyApp .items-list > .image-item:hover .controls {
    display: block;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.SkriphyApp footer {
  padding-bottom: 26em;
}

.SkriphyApp.light {
  background: #f5f5f5;
  color: #333;
}
.SkriphyApp.light .items-list {
  background: #f0f0f0;
}
.SkriphyApp.light .items-list > .image-item {
  background: #fff;
  border: 1px solid #ccc;
}
.SkriphyApp.light .search-input,
.SkriphyApp.light .btn {
  background: #fff;
}
.SkriphyApp.light .search-input:hover,
.SkriphyApp.light .btn:hover {
  border-color: #bbb;
  background: #fff;
}
.SkriphyApp.light .controls .btn {
  background: rgba(255, 255, 255, 0.8);
  color: #222;
}
.SkriphyApp.light .controls .btn:hover {
  background: #fff;
}
.SkriphyApp.light .giphy-search {
  background: rgba(255, 255, 255, 0.4);
}
.SkriphyApp.light footer {
  color: #777;
  border-top: 1px solid #ccc;
}

.SkriphyApp.dark {
  background: #111;
  color: #eee;
}
.SkriphyApp.dark .items-list {
  background: #222;
}
.SkriphyApp.dark .items-list > .image-item {
  background: #333;
  border: 1px solid #444;
}
.SkriphyApp.dark .search-input {
  border-color: #555;
  background: #333;
  color: #fafafa;
  fill: #fafafa;
}
.SkriphyApp.dark .btn {
  border-color: #555;
  background: #555;
  color: #fff;
  fill: #fff;
}
.SkriphyApp.dark .search-input:hover,
.SkriphyApp.dark .btn:hover {
  border-color: #bbb;
  background: #555;
}
.SkriphyApp.dark .controls .btn {
  background: rgba(80, 80, 80, 0.8);
  color: #fafafa;
}
.SkriphyApp.dark .controls .btn:hover {
  background: #888;
}
.SkriphyApp.dark .giphy-search {
  background: rgba(0, 0, 0, 0.4);
}
.SkriphyApp.dark footer {
  color: #bbb;
  border-top: 1px solid #ccc;
}

@media screen and (min-width: 641px) {
  .SkriphyApp {
    text-align: center;
  }
  .SkriphyApp footer {
    padding-bottom: 1em;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=SkriphyApp.css.map */
