$desktop-min-width: 641px;

@import "basics";

.SkriphyApp {
    text-align: center;
    font-size: 1em;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    section {
        padding: 0.5em;
    }

    footer {
        padding: 0.5em;
        font-size: 0.8em;
        color: #777;
        border-top: 1px solid #ccc;
    }


    section.search-results {
        min-height: 4em;

        .title {
            font-size: 1.2em;
            color: #888;
            margin: .5em;
        }

    }

    .btn.reset-app {
        font-size: 1.1em;
        display: block;
        text-align: center;
        margin: .5em auto;
        border: 1px solid red;
        background: none;
        color: red;
        opacity: .7;
    }

    .btn.reset-app:hover {
        opacity: 1;
    }

    @import "search";
    @import "items-list";
}

@media screen and (min-width: $desktop-min-width) {
    .SkriphyApp {
        text-align: center;
        //background: yellow; // for testing
    }
}