html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 320px;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

.SkriphyApp {
  text-align: center;
  font-size: 1em;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.SkriphyApp section {
  padding: 0.5em;
}

.SkriphyApp footer {
  padding: 0.5em;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}

.SkriphyApp section.search-results {
  min-height: 4em;
}

.SkriphyApp section.search-results .title {
  font-size: 1.2em;
  color: #888;
  margin: .5em;
}

.SkriphyApp .btn.reset-app {
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin: .5em auto;
  border: 1px solid red;
  background: none;
  color: red;
  opacity: .7;
}

.SkriphyApp .btn.reset-app:hover {
  opacity: 1;
}

.SkriphyApp .giphy-search-form {
  font-size: 1.1em;
}

.SkriphyApp .giphy-search-form .search-actions {
  display: inline-block;
}

.SkriphyApp .giphy-search-form .search-actions .icon {
  width: 1.1em;
  height: 1.1em;
}

.SkriphyApp .giphy-search-form .search-input,
.SkriphyApp .giphy-search-form .btn {
  background: none;
  border: 1px solid #ccc;
  height: 2em;
  vertical-align: top;
  margin-right: .2em;
  margin-top: .2em;
}

.SkriphyApp .giphy-search-form .search-input:hover,
.SkriphyApp .giphy-search-form .btn:hover {
  border-color: #bbb;
  background: #fff;
}

.SkriphyApp .giphy-search-form .search-input-label {
  margin-right: .2em;
  display: inline-block;
  width: 60%;
}

.SkriphyApp .giphy-search-form .search-input {
  font-weight: normal;
  padding: .2em;
  width: 100%;
}

.SkriphyApp .giphy-search-form .search-input:focus {
  font-weight: bold;
  border-color: #000;
}

.SkriphyApp .items-list {
  font-size: 1em;
  line-height: 1.2em;
  background: #f0f0f0;
  min-height: 1em;
  list-style: none;
  margin: 0;
  padding: .2em;
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  column-count: 1;
  column-gap: 0px;
}

.SkriphyApp .items-list > .image-item {
  padding: 0;
  margin: 0.2em;
  margin-bottom: .8em;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  min-height: 4em;
  overflow: hidden;
}

.SkriphyApp .items-list > .image-item .img {
  width: 100%;
  height: auto;
}

.SkriphyApp .items-list > .image-item .controls .btn {
  font-size: 1em;
  line-height: 1.1em;
  padding: 0.4em;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  margin: 0.08em;
}

.SkriphyApp .items-list > .image-item .controls .btn .icon {
  width: 1.2em;
  height: 1.2em;
}

.SkriphyApp .items-list > .image-item .controls .btn:hover {
  background: #fff;
}

.SkriphyApp .items-list > .image-item:hover .controls,
.SkriphyApp .items-list > .image-item:active .controls {
  display: block;
}

@media screen and (min-width: 641px) {
  .SkriphyApp .items-list {
    -webkit-column-count: 6;
            column-count: 6;
  }
  .SkriphyApp .items-list > .image-item {
    border: none;
  }
  .SkriphyApp .items-list > .image-item .controls {
    display: none;
    position: absolute;
    font-size: 0.8em;
    top: 0;
    right: 0;
  }
  .SkriphyApp .items-list > .image-item .controls .btn {
    font-size: 1em;
    padding: 0.3em;
  }
  .SkriphyApp .items-list > .image-item:hover .controls {
    display: block;
  }
}

@media screen and (min-width: 641px) {
  .SkriphyApp {
    text-align: center;
  }
}
/*# sourceMappingURL=SkriphyApp.css.map */